@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

@*<div id="OfficialSupplierScreen">*@
<div class="Seperator"></div>
<div id="OfficialSupplierContainer">
    <div id="OfficialSupplierScreenWideScreen">


        <div id="OfficialSupplierMainDiv" class="OfficialSupplierQuarterSized">
            <div style="width: 1036px; margin: 10% auto;">
                <div id="OfficialSupplierMainContainer">
                    <h2>PROTAL BY WAXMAN FIBRES</h2>
                    <br />
                    <div id="InsideMainScroll">
                        <p>
                            For over a decade Waxman Fibres and its partners have successfully 
                                    introduced and provided Protal products to international markets 
                                    which include major utilities, civil engineering, construction and 
                                    petrochemical companies.<br />
                            <br />

                            Protal is the result of many years of intensive research and 
                                    development by the Waxman Fibres’ technical team and responds to 
                                    some of the biggest end users’ requests for the next generation of 
                                    protective clothing.<br />
                            <br />

                            This brand innovative range of fabrics doesn’t just offer different 
                                    levels of protection against hazards like flames, arcing and metal 
                                    splashes. Thanks to ground-breaking technology, it also does the 
                                    equally tough job of remaining comfortable and cooler thanks to 
                                    breathable properties previously unknown to this type of protective 
                                    material.<br />
                            <br />

                            Waxman Fibres’ uniquely balanced blend of Protal fibre, So FR 
                                    viscose and other technical fibres produce an inherently flame 
                                    retardant fabric range that is strong, extremely durable, yet 
                                    lightweight, flexible, sweat absorbent and breathable. 
                                   
                                <br />
                            <br />

                            Protal is available from very lightweight fabrics. The carefully 
                                    balanced blend of fibres accepts all colours, including Hi-visibility 
                                    yellow and orange? 
                               
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="OfficialSupplierHowDoesItWorkDiv" class="OfficialSupplierQuarterSized">
            <div style="width: 1036px; margin: 10% auto;">
                <div id="OfficialSupplierHowDoesItWorkContainer">
                    <h2>HOW DOES IT WORK?</h2>
                    <br />
                    <div id="InsideHowDoesScroll">
                        <p>
                            Protal is made of high-performance fibres intimately blended with 
                                    long-staple combed cotton without any chemical treatment which 
                                    gives it the unparalleled softness, a natural touch and appearance. 
                                   
                                <br />
                            <br />

                            Each balanced blend of fibres allows the resulting fabric to have highly 
                                    effective moisture management properties.
                                   
                                <br />
                            <br />

                            Protal’s inherent flame retardant properties will not deteriorate or 
                                    diminish; they are literally ‘built-in’ to the fabric.
                                   
                                <br />
                            <br />

                            As well as eliminating the need for costly re-treatment and unpleasant 
                                    odours (ODOURS), this gives Protal the edge in practical comfort. There 
                                    is no loss in performance, even after repeated laundering (including 
                                    industrial), dry or spot-cleaning. 
                                   
                                <br />
                            <br />

                            Protective clothing manufactured with any of the blends in the Protal 
                                    range will look good for longer and perform properly until the end of its 
                                    lifecycle. 
                                   
                                <br />
                            <br />

                            Project managers and procurement personnel 
                                    alike can rest assured the Protal range offers a wide choice of fabric 
                                    options to cover the increasingly complex and ever-changing global 
                                    compliancy laws and world safety standards.
                               
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="OfficialSupplierQualityControlDiv" class="OfficialSupplierQuarterSized">
            <div style="width: 1036px; margin: 10% auto;">
                <div id="OfficialSupplierQualityControlContainer">
                    <h2>QUALITY CONTROL</h2>
                    <br />
                    <p class="QualtControl">
                        As you’d expect, all of Waxman Fibres’ partners adhere to
                                a stringent quality control programme which the company regularly reviews and refines to ensure a consistently high level of both quality and protection.
                       
                    </p>
                    <br />
                    <p class="RedHeader">Partnerships</p>
                    <p class="QualtControl">
                        Waxman Fibers brings together the world's best technical spinning companies, weavers, knitters, garment makers 
                        and PPE resellers. Many of our partners are award winning technical innovators, specializing in developing 
                        advanced textile products.
                       
                    </p>
                    <br />
                    <p class="RedHeader">Look for the label</p>
                    <p class="QualtControl"> 
                        Always look for the official Protal label. It’s your assurance
                                of outstanding quality, protection and compliance. All genuine Protal products carry the Protal identification labels.
                       
                    </p>
                </div>
            </div>
        </div>

       <div id="OfficialSupplierTestsDiv" class="OfficialSupplierQuarterSized">

            <div id="OfficialSupplierTestsContainer">
                <div id="OfficialSupplierTestsText">
                    <h2>Waxman Fibres</h2>
                    <br />
                    <p>
                        Pushes its products to the limit. The Technical Team 
                                (working with recognised laboratories) specialises in simulating ‘real-life’ 
                                scenarios and situations to verify that every one of the blends, 
                                not only meets compliancy criteria in global markets, but goes above and 
                                beyond those standards.
                            <br />
                        <br />
                        <span class="redSpanHome">Please see the following 
                                    official clips of a range of testing demonstrations.</span>
                    </p>
                </div>

                <div id="TestImageContainer">
                    <div id="TestsImageScroller">
                        <div class="TestsImage" id="vid1" youtube="2G7mCbaf5zQ" >
                            <img src="~/img/SilverRed/Testin Vid 1.png" />
                            <div class="TestsTag">
                                <img src="~/img/SilverRed/Play-Video-Hover.png" />
                            </div>
                        </div>
                        <div class="TestsImage" id="vid2" youtube="yBbxIUWbVxQ">
                            <img src="~/img/SilverRed/Testin Vid 2.png" />
                            <div class="TestsTag">
                                <img src="~/img/SilverRed/Play-Video-Hover.png" />
                            </div>
                        </div>
                        <div class="TestsImage" id="vid3" youtube="EptQLQf6FcI">
                            <img src="~/img/SilverRed/Testin Vid 3.png" />
                            <div class="TestsTag">
                                <img src="~/img/SilverRed/Play-Video-Hover.png" />
                            </div>
                        </div>
                        <div class="TestsImage" id="vid4" youtube="UIchR2qK7R0">
                            <img src="~/img/SilverRed/Testin Vid 4.png" />
                            <div class="TestsTag">
                                <img src="~/img/SilverRed/Play-Video-Hover.png" />
                            </div>
                        </div>
                        <div class="TestsImage" id="vid5" youtube="bZkiGxyVoW4">
                            <img src="~/img/SilverRed/Testin Vid 5.png" />
                            <div class="TestsTag">
                                <img src="~/img/SilverRed/Play-Video-Hover.png" />
                            </div>
                        </div>
                        <div class="TestsImage" id="vid6" youtube="JezWuWs4qkg">
                            <img src="~/img/SilverRed/Testin Vid 6.png" />
                            <div class="TestsTag">
                                <img src="~/img/SilverRed/Play-Video-Hover.png" />
                            </div>
                        </div>
                        <div class="TestsImage" id="vid7" youtube="ltZH8n4W2MM">
                            <img src="~/img/SilverRed/Testin Vid 7.png" />
                            <div class="TestsTag">
                                <img src="~/img/SilverRed/Play-Video-Hover.png" />
                            </div>
                        </div>
                        <div class="TestsImage" id="vid8" youtube="kqFt8qGP9v4">
                            <img src="~/img/SilverRed/Testin Vid 8.png" />
                            <div class="TestsTag">
                                <img src="~/img/SilverRed/Play-Video-Hover.png" />
                            </div>
                        </div>
                        <div class="TestsImage" id="vid9" youtube="I1jds1Uoueg">
                            <img src="~/img/SilverRed/Testin Vid 9.png" />
                            <div class="TestsTag">
                                <img src="~/img/SilverRed/Play-Video-Hover.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="OfficialSupplierWaxmanGroupDiv" class="OfficialSupplierQuarterSized">
            <div style="width: 1036px; margin: 10% auto">
                <div id="OfficialSupplierWaxmanGroupContainer">
                    <h2>WAXMAN FIBRES</h2>
                    <br />
                    <p>
                        Waxman Fibres Ltd is a subsidiary of the Waxman Group of Companies based in 
                            Elland, West Yorkshire.<br />
                        <br />
                        The Group’s activities comprise three distinct
                            <br />
                        business areas – 
                            the distribution of fibres, ceramics and, more recently, renewable 
                            energy in the form of solar technologies.<br />
                        <br />
                        Waxman’s fibre business, centred around Protex which is produced by Kaneka 
                            Corporation of Japan, was first established over 50 years ago.<br />
                        <br />
                        Through a network of carefully chosen partners Waxman Fibres has recently 
                            developed strong relationships in Asia, in addition to its core 
                            business in Europe, focusing and developing newly emerging global 
                            markets for Flame Retardant protective-wear products.

                       
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    <div id="OfficialSupplierButtons">
        <a href="#" onclick="OfficialSuppliergoToPosition('#OfficialSupplierMainDiv')">
            <div id="OfficialSupplierMain" class="SlideShowButton"></div>
        </a>
        <a href="#" onclick="OfficialSuppliergoToPosition('#OfficialSupplierHowDoesItWorkDiv')">
            <div id="OfficialSupplierHowDoesItWork" class="SlideShowButton"></div>
        </a>
        <a href="#" onclick="OfficialSuppliergoToPosition('#OfficialSupplierQualityControlDiv')">
            <div id="OfficialSupplierQualityControl" class="SlideShowButton"></div>
        </a>
        <a href="#" onclick="OfficialSuppliergoToPosition('#OfficialSupplierTestsDiv')">
            <div id="OfficialSupplierTests" class="SlideShowButton"></div>
        </a>
        <a href="#" onclick="OfficialSuppliergoToPosition('#OfficialSupplierWaxmanGroupDiv')">
            <div id="OfficialSupplierWaxmanGroup" class="SlideShowButton"></div>
        </a>
    </div>
</div>

@*</div>*@

<script type="text/javascript" src="~/Scripts/jquery.youtubepopup.min.js"></script>
<script>
    $("div#vid1").YouTubePopup({ idAttribute: 'youtube' });
    $("div#vid2").YouTubePopup({ idAttribute: 'youtube' });
    $("div#vid3").YouTubePopup({ idAttribute: 'youtube' });
    $("div#vid4").YouTubePopup({ idAttribute: 'youtube' });
    $("div#vid5").YouTubePopup({ idAttribute: 'youtube' });
    $("div#vid6").YouTubePopup({ idAttribute: 'youtube' });
    $("div#vid7").YouTubePopup({ idAttribute: 'youtube' });
    $("div#vid8").YouTubePopup({ idAttribute: 'youtube' });
    $("div#vid9").YouTubePopup({ idAttribute: 'youtube' });
</script>
