@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

@*<div id="WhyUsScreen">*@
<div class="Seperator"></div>
<div id="WhyUsScreenContainer">
    <div id="WhyUsWideContent">
        
        <div id="WhyUsMainDiv">
            <div style="width: 100%">
                <div id="WhyUsMainTextContainer">
                    <div id="WhyUsMainText">
                        <p class="Squished" style="margin: 0;">
                            WE BELIEVE THAT
                                   
                                <br />
                            COMFORTABLE, WELL-DESIGNED
                                        WORKWEAR, CREATES SAFER WORKING ENVIRONMENTS.
                               
                        </p>
                        <p class="Squished"  style="margin: 0;">
                            <br />
                            IT IS BECAUSE OF THIS BELIEF THAT WE HAVE MADE <span class="redSpan">QUALITY,</span> <span class="redSpan">COMFORT</span> AND <span class="redSpan">DESIGN</span> OUR CORE BRAND VALUES.
                               
                        </p>
                        <hr style="width: 334px; margin-left: 14px;" />
                        <a href="#" onclick="WhyUsgoToPosition('#LittleAboutUsDiv')" style="margin-left: 14px; position: relative;">
                            <div id="littleAboutUs">
                                <span>A LITTLE ABOUT US  </span>
                            </div>
                            <img style="position: absolute; top: 4px; right: -17px" src="img/SilverRed/arrow.png" />
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div id="WhyUsQualityDiv">
            <div id="WhyUsQualityTextContainer">
                <div id="WhyUsQualityLeftColumn">
                    <div class="DesignBodyText">
                        <h2 id="QualityHeader" class="QualityHeader Squished">IF SOMETHING FITS RIGHT,
                        <span class="redSpanHome">IT FEELS RIGHT.</span>
                        </h2>
                        <p>
                            But this requires the
                                    utmost attention to detail. At SilverRed, we take care of everything, 
                                    functionality of pockets, type of stitching, sleeve endings, even 
                                    the instruction manual has a functional element that can contribute to 
                                    personal safety. We believe that the more emphasis we put on design, 
                                    the more functional and safe the product becomes. 
                               
                        </p>
                    </div>
                </div>
                <div id="WhyUsQualityCenterColumn">
                    <div class="DesignBodyText">
                        <h2 class="QualityHeader Squished">OUR FABRIC CHOICE (PROTAL) MAKES IT POSSIBLE TO DELIVER <span class="redSpanHome">ANY COLOR,</span>
                        </h2>
                        <p>
                            including the only FR High Visual Yellow and Orange in the market.
                                    This allows us to make garments based on your company colors or required 
                                    color codes. Not only do we protect your employees, but your corporate image as well.
                               
                        </p>
                    </div>
                </div>
                <div id="WhyUsQualityRightColumn">
                    <div class="DesignBodyText Squished">
                        <h2 class="QualityHeader">OUR CUSTOMIZER IS SET UP TO DIRECTLY SHOW YOU WHAT <span class="redSpanHome">SILVERRED CAN DO FOR YOU.</span>
                        </h2>
                        <p>
                            All combinations can be made and once completed your design will be saved for 
                                    two weeks to add later adjustments.
                               
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="WhyUsDesignDiv">
            <div id="WhyUsDesignContainer">
                <div id="WhyUsDesignFirstRedLine"></div>
                <div id="WhyUsDesignFirstText">
                    <p>
                        <span>&nbsp;Comfort 
                                in ordering.</span><br />
                        Our sales process is
                                based around the costumer 
                                and set up to save time. With our customizer-program, you can design your own garments and ask for 
                                quotes directly.
                           
                    </p>
                </div>
                <div id="WhyUsDesignSecondRedLine"></div>
                <div id="WhyUsDesignSecondText">
                    <p>
                        &nbsp;<span>Protal is the most comfortable fabric for 
                            the MEA region.</span><br />
                        A flame retarded inherent fabric 
                        with the highest level of breathability 
                        and moist absorption, the material 
                        offers elite protection to users in the 
                        harshest conditions. 
                           
                    </p>
                </div>
                <div id="WhyUsDesignThirdRedLine"></div>
                <div id="WhyUsDesignThirdText">
                    <p>
                        <span>SilverRed Solutions</span><br />
                        Here at Silverred we are equiped with 
                        all the experience and technical know-how 
                        to find a fitted product for any type of work
                         environment.
                           
                    </p>
                </div>
            </div>
        </div>
        
        <div id="WhyUsComfortDiv">
            <div style="width: 1050px; margin: 0 auto;">
                <div id="WhyUsComfortContainer">
                    <div class="Inliner">
                        <div class="DesignBodyText">
                            <h2 id="WhyUsComfortTextInner" class="Squished">
                                WE IMPLEMENT THE STRICTEST QUALITY CONTROLS AND DELIVER A 
                                STABLE PRODUCT FROM A SINGLE SOURCE; WITH <span style="color: red">SPEED</span> AND <span style="color: red">CARE. </span>
                                           
                            </h2>
                        </div>
                    </div>
                    <div class="Inliner" style="width:310px">
                        <div class="DesignBodyText" style="width:310px">
                             <h2 class="Squished">WE ARE THE  <span style="color: red">OFFICIAL</span> AND <span style="color: red">EXCLUSIVE DISTRIBUTOR</span> OF PROTAL, A HIGHLY 
                                DURABLE, FIRE RETARDANT FABRIC.
                           <br /><br />
                                THE MATERIAL PASSES ALL 
                                 <span style="color: red">INTERNATIONAL SAFETY STANDARDS</span> AND MAINTAINS ITS INTEGRITY AND 
                                COLOR, EVEN AFTER HEAVY INDUSTRIAL WASHING. 
                            </h2>
                          
                        </div>
                    </div>
                    <div class="Inliner">
                        <div class="DesignBodyText">
                           <h2 id="WhyUsComfortTextHeader" class="Squished">
                                <span>SILVERRED’S</span> ENTIRE 
                                    PRODUCTION PROCESS IS 
                                    MANAGED AND CONTROLLED 
                                    IN DUBAI.
                                   
                            </h2>
                        </div>
                    </div>



                </div>
            </div>
        </div>

        <div id="LittleAboutUsDiv">
            <div id="LittleAboutUsContainer">

                <div id="LittleAboutUsTextContainer">
                    <div id="LittleAboutUsText">
                        <h2 class="Squished">ACCIDENTS, AND PARTICULARLY INDUSTRIAL ACCIDENTS,
                            <br />
                            <span class="redSpanHome">DO NOT ‘JUST’ HAPPEN -
                                <br />
                                THEY ARE CAUSED.</span> </h2>
                        <br />
                        <div id="LittleAboutUsBodyTextContainer">
                            <div id="LittleAboutUsBodyTextLeft">
                                <p>
                                    SilverRed’s goal is to provide Fully Customized Comfortable Work Wear 
                                            of the highest quality that will protect your employees according to 
                                            international standards and in the colors and design that portray your 
                                            company image.  
                                           
                                    <br />
                                    <br />
                                    In 2007, the company was setup to supply the local UAE market. 
                                    Within time, Silverred products have found their way to a range 
                                    of clients based in GCC, North Africa and CIS.
                                       
                                </p>
                            </div>
                            <div id="LittleAboutUsBodyTextRight">
                                <p>
                                    SilverRed provides reliable Work Wear to avoid industrial accidents, may it be 
                                            in the Oil & Gas Industry, Petrochemical Industry, Steel Industry or any 
                                            other environment that requires work wear with Quality Fabrics, Good designs 
                                            and extreme Comfort.
                                           
                                    <br />
                                    <br />
                                    Accidents hurt - Safety doesn't,
                                           
                                    <br />
                                    <br />
                                    <span class="redSpanHome">Team Silver Red</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="LittleAboutUsImageContainer">
                    <div id="AboutUsImageScroller">
                        <div class="EmployeeImage">
                            <img src="~/img/SilverRed/Profile Image-1.png" />
                            <div class="EmployeeTag">
                                <img src="~/img/SilverRed/Red-Name-Image.png"/>
                                <div class="nameCOntainer">
                                    <p>Emile de Beer</p>
                                    <p>"Owner"</p>
                                </div>
                            </div>
                        </div>
                        <div class="EmployeeImage">
                            <img src="~/img/SilverRed/Profile Image-2.png" />
                            <div class="EmployeeTag">
                                <img src="~/img/SilverRed/Red-Name-Image.png"/>
                                <div class="nameCOntainer" data-Emp="Claudia">
                                    <p>Claudia Sloot</p>
                                    <p>"Quality <br />Management"</p>
                                </div>
                            </div>
                        </div>
                        <div class="EmployeeImage">
                            <img src="~/img/SilverRed/Profile Image-3.png" />
                            <div class="EmployeeTag">
                                <img src="~/img/SilverRed/Red-Name-Image.png"/>
                                <div class="nameCOntainer" data-Emp="Karl">
                                    <p style="margin-left: -19px">Karl Stinglhamber</p>
                                    <p style="margin-left: -17px">"Finance Advisor"</p>
                                </div>
                            </div>
                        </div>
                        <div class="EmployeeImage">
                            <img src="~/img/SilverRed/Profile Image-4.png" />
                            <div class="EmployeeTag">
                                <img src="~/img/SilverRed/Red-Name-Image.png"/>
                                <div class="nameCOntainer" data-Emp="Jules">
                                    <p style="margin-left: 3px">Jules Scholten</p>
                                    <p style="margin-left: -4px">"Partner - Head <br />of Business <br /> Development"</p>
                                </div>
                            </div>
                        </div>
                        <div class="EmployeeImage">
                            <img src="~/img/SilverRed/Profile Image-5.png" />
                            <div class="EmployeeTag">
                                <img src="~/img/SilverRed/Red-Name-Image.png"/>
                                <div class="nameCOntainer" data-Emp="Kim">
                                    <p style="margin-left: 19px">Kim Song</p>
                                    <p style="margin-left: 14px">Head of <br />"Production"</p>
                                </div>
                            </div>
                        </div>
                        <div class="EmployeeImage">
                            <img src="~/img/SilverRed/Profile Image-6.png" />
                            <div class="EmployeeTag">
                                <img src="~/img/SilverRed/Red-Name-Image.png"/>
                                <div class="nameCOntainer">
                                    <p >Arman Aituar</p>
                                    <p style="margin-left: 9px">"Designer"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="UpDownContainer">
                        <div class="UpDownArrows UpArrow" id="AboutUsUp">
                            <div class="UpDownArrows upHover" onclick="ABoutUsScrollUp()"></div>
                        </div>
                        <div class="UpDownArrows downArrow" id="AboutUsDown">
                            <div class="UpDownArrows downHover" onclick="ABoutUsScrollDown()"></div>
                        </div>
                    </div>*@

                </div>
            </div>
            @*<div class="EmployeeImage">
                    <figure>
                        <img src="~/img/SilverRed/SilverRed_Product_Dummy_1.png" /><figcaption><h2>His Name</h2>
                        </figcaption>
                    </figure>
                </div>
                <div class="EmployeeImage">
                    <img src="~/img/SilverRed/SilverRed_Product_Dummy_1.png" />
                </div>
                <div class="EmployeeImage">
                    <img src="~/img/SilverRed/SilverRed_Product_Dummy_1.png" />
                </div>
                <div class="EmployeeImage">
                    <img src="~/img/SilverRed/SilverRed_Product_Dummy_1.png" />
                </div>
                <div class="EmployeeImage">
                    <img src="~/img/SilverRed/SilverRed_Product_Dummy_1.png" />
                </div>
                <div class="EmployeeImage">
                    <img src="~/img/SilverRed/SilverRed_Product_Dummy_1.png" />
                </div>
                <div class="EmployeeImage">
                    <img src="~/img/SilverRed/SilverRed_Product_Dummy_1.png" />
                </div>
                <div class="EmployeeImage">
                    <img src="~/img/SilverRed/SilverRed_Product_Dummy_1.png" />
                </div>
                <div class="EmployeeImage">
                    <img src="~/img/SilverRed/SilverRed_Product_Dummy_1.png" />
                </div>*@

        </div>

    </div>


</div>
<div id="WhyUsButtons">
    <a href="#" onclick="WhyUsgoToPosition('#WhyUsMainDiv')">
        <div id="WhyUsMain" class="SlideShowButton"></div>
    </a>
    <a href="#" onclick="WhyUsgoToPosition('#WhyUsComfortDiv')">
        <div id="WhyUsComfort" class="SlideShowButton"></div>
    </a>
    <a href="#" onclick="WhyUsgoToPosition('#WhyUsDesignDiv')">
        <div id="WhyUsDesign" class="SlideShowButton"></div>
    </a>
    <a href="#" onclick="WhyUsgoToPosition('#WhyUsQualityDiv')">
        <div id="WhyUsQuality" class="SlideShowButton"></div>
    </a>
   
</div>
@*</div>*@
